<div class="top">
  <div class="name">业务员: {{name}}</div>
  <div class="out" (click)="out()">退出</div>
</div>
<TabBar
  class="tab"
  [barTintColor]="'white'"
  [activeTab]="indexTab"
  [tabBarPosition]="'bottom'"
>
  <TabPane [title]='custom1'>
    <ng-template #custom1>
      <TabBarTab 
        [title]="'订车订单'"
        key="orderlist"
        [icon]="icon1"
        (onPress)="onPress($event)"
        [selectedIcon]="icon11"
      >
        <ng-template #icon1>
          <div style="width:22px;height: 22px;background: url('http://ricecar.oss-cn-hangzhou.aliyuncs.com/dingdan.png') center center / 21px 21px no-repeat;">
          </div>
        </ng-template>
        <ng-template #icon11>
          <div style="width:22px;height: 22px;background: url('http://ricecar.oss-cn-hangzhou.aliyuncs.com/dingdan1.png') center center / 21px 21px no-repeat;">
          </div>
        </ng-template>
      </TabBarTab>
    </ng-template>
    <ng-container>
      <ng-template [ngTemplateOutlet]="content"></ng-template>
    </ng-container>
  </TabPane>
  <TabPane [title]='custom2'>
    <ng-template #custom2>
      <TabBarTab 
        [title]="'取车订单'"
        key="overlist"
        [icon]="icon2"
        [selectedIcon]="icon22"
        (onPress)="onPress($event)"
      >
        <ng-template #icon2>
          <div style="width:22px;height: 22px;background: url('http://ricecar.oss-cn-hangzhou.aliyuncs.com/quche.png') center center / 21px 21px no-repeat;">
          </div>
        </ng-template>
        <ng-template #icon22>
          <div style="width:22px;height: 22px;background: url('http://ricecar.oss-cn-hangzhou.aliyuncs.com/quche1.png') center center / 21px 21px no-repeat;">
          </div>
        </ng-template>
      </TabBarTab>
    </ng-template>
    <ng-container>
      <ng-template [ngTemplateOutlet]="content2"></ng-template>
    </ng-container>
  </TabPane>
</TabBar>

<ng-template #content>
  <Tabs
    style="height: 50px"
    [useOnPan]="true"
    [swipeable]="true"
    [(activeTab)]="index"
    [page]="3"
    tabBarBackgroundColor="#274EFF"
    tabBarActiveTextColor="#FFF"
    tabBarInactiveTextColor="#5288FF"
    tabBarUnderlineStyle="color:#FFF"
    (onChange)="onChange($event)"
  >
    <TabPane class="select" title="预约订单"></TabPane>
    <TabPane class="select" title="已付款订单"></TabPane>
    <TabPane class="select" title="已完成"></TabPane>
  </Tabs>
  <router-outlet></router-outlet>
</ng-template>

<ng-template #content2>
  <Tabs
    style="height: 50px"
    [useOnPan]="true"
    [swipeable]="true"
    [(activeTab)]="index2"
    [page]="3"
    tabBarBackgroundColor="#274EFF"
    tabBarActiveTextColor="#FFF"
    tabBarInactiveTextColor="#5288FF"
    tabBarUnderlineStyle="color:#FFF"
    (onChange)="onChange($event)"
  >
    <TabPane class="select" title="预约取车"></TabPane>
    <TabPane class="select" title="取车订单"></TabPane>
    <TabPane class="select" title="已完成"></TabPane>
  </Tabs>
  <router-outlet></router-outlet>
</ng-template>