.list {
  padding: 9px;
}
.item {
  padding: 10px 15px;
  background:rgba(255,255,255,1);
  border-radius:4px;
  .header {
    display: flex;
    justify-content: space-between;
    .no {
      font-size:12px;
      font-family:PingFangSC-Regular;
      font-weight:400;
      color:rgba(177,177,177,1);
    }
    .status {
      font-size:12px;
      font-family:PingFangSC-Regular;
      font-weight:400;
      color:rgba(27,55,225,1);
    }
  }
  .title {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 0px;
  }
  .info {
    background:rgba(245,245,245,1);
    border-radius:5px;
    padding: 4px 8px;
    margin-bottom: 7px;
    p {
      font-size:12px;
      font-family:PingFangSC-Regular;
      font-weight:400;
      color:rgba(81,81,81,1);
      padding: 4px 0px;
    }
  }
}